// Dependencies
@import "../abstracts/variables";
@import "../abstracts/mixins";

#contact {
	background-image: linear-gradient(
					135deg,
					$primary-color 0%,
					$secondary-color 100%
	);
	-webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
	color: $white-color;
	margin-bottom: -1px;
	margin-top: -10rem;
	padding: 15rem 0 10rem 0;

	@include respond(tab-land) {
		-webkit-clip-path: none;
		clip-path: none;
		margin-top: 0;
		padding: 10rem 0;
	}

	.contact-wrapper {
		backface-visibility: hidden;
		margin-top: 3.2rem;
		padding: 0 2rem;

		&__text {
			margin-bottom: 2.5rem;
		}

		&__text,
		a {
			font-size: 2.4rem;

			@include respond(phone) {
				font-size: 2rem;
			}
		}
	}
}
