@import "../abstracts/_variables.scss";
@import "../abstracts/_mixins.scss";

/* Call to Action Button */
.cta-btn {
	display: inline-block;
	font-weight: bold;
	line-height: 1;
	padding: 0.8rem $default-font-size;
	position: relative;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
	z-index: 1;

	&::after {
		bottom: 0;
		content: "";
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
		width: 0;
		z-index: -1;
	}
}

/* Hero Style */
.cta-btn--hero {
	@include supportColorForIE11();
	border: 2px solid transparent;
	border-image: linear-gradient(
					135deg,
					$primary-color 0%,
					$secondary-color 100%
	);
	border-image-slice: 1;
	@include supportIE11() {
		color: $secondary-color !important;
		&:hover {
			color: $white-color !important;
		}
	}

	@include respond(phone) {
		background-image: none;
		border: 2px solid $secondary-color;
		-webkit-text-fill-color: $secondary-color;
	}

	&::after {
		background-image: linear-gradient(
						135deg,
						$primary-color 0%,
						$secondary-color 100%
		);

		@include respond(phone) {
			background-image: none;
		}
	}

	&:hover {
		text-decoration: none;
		-webkit-text-fill-color: $white-color;

		@include respond(phone) {
			-webkit-text-fill-color: $secondary-color;
		}

		&::after {
			width: 100%;
		}
	}
}

/* Resume Style */
.cta-btn--resume {
	border: 2px solid $white-color;
	color: $white-color;

	&::after {
		background: $white-color;
	}

	&:hover {
		color: $secondary-color;
		text-decoration: none;

		&::after {
			width: 100%;
		}
	}
}

/* Arrow Button */
.up i {
	color: #272727;
}
